@media only screen and (max-width:767px) and (min-width:320px) 
   {
     .container{
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .catalog-card{
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0px auto 20px auto;
        width: 100%;
        height: 266px;
        background-color: rgb(233, 233, 233);
    }
    .card-title{
        position: relative;
        width: 100%;
    }
    .cat_slim{
        position: absolute;
        left: 29px;
        top: 21px;
    }
    .cat_back{
        position: absolute;
        left: 12.99px;
        top: 35.02px;
    }
    .card-title__background{
        position: absolute;
        left: 22px;
        top: 24px;
    }
    .card-title__text{
        position:absolute;
        margin-top: 0%;
        margin-bottom: 0%;
        left: 91px;
        top: 30px;
    }
    .card-title__text{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 37px;

        text-transform: uppercase;

        color: #000000;
    }
    .catalog-card__text{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
    .catalog-card__text{
        position:absolute;
        left: 20px;
        top: 96px;
        right: 33px;
        margin: 0%;
    }
    .catalog__line{
        position: absolute;
        bottom: 57px;
        left: 20px;
        width: 85%;
        height: 0px;
        display: block;
        border: #a7a7a7 1px solid;
    }

    .card-info{
        position: absolute;
        bottom: 18px;
        left: 20px;
    }
    .card-info__link{
        
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 37px;

        text-transform: uppercase;

        color: #000000;
    }


    /*HOW IT WORS*/
    .function__container
    {
        position: relative;
    }
    .function__title{
        position: absolute;
        top: 71px;
        width: 375px;
        height: 60px;

        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 60px;

        margin: 0%;
    }

    .food-list{
        padding: 0%;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 163px;
        width: auto;
        margin: 0%;
    }
    .food-list__item{
        position: relative;
        display: inline-block;
        width: auto;
        height: 60px;
    }
    .food-list__img{
        position: absolute;
        width: 60px;
        height: 60px;
    }
    .food-list__text{
        position: absolute;
        left: 80px;
        width: 200px;
        margin: 0%;
    }

    .counter_p{
        display: none;
    }
    .line{
        display: inline;
        height: 30px;
    }


}