.container{
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
}
li{
    display: inline;
}
.ilu{
    width: 200px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 1000 ;
    font-size:medium;
} 
.about__text{
    width: 200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000 ;
    font-size:medium;

}
.photo__img{
    width: 200px;
}